<template name="web_About">

  <div class="content-block inset">
    <div class="content-block-inner">
      <p>{{about.body}}</p>
    </div>
  </div>

  <h5>FAQ</h5>
  <div id="accordion" role="tablist" aria-multiselectable="true">
  {{#each faqlist}}
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading{{_id}}">
        <h6 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{_id}}" aria-expanded="true" aria-controls="collapse{{_id}}">
            {{title}}
          </a>
        </h6>
      </div>
      <div id="collapse{{_id}}" class="panel-collapse collapse" role="tabpane" aria-labelledby="heading{{_id}}">
        {{body}}
      </div>
    </div>
  {{/each}}
  </div>
</template>
