<template name="web_ClientProfileForm">
  <div class="content-block">
  {{#autoForm schema=ClientProfileFormSchema id="ClientProfileForm" type=formTypeMethod doc=this meteormethod="sendClientProfile" validation="keyup"}}
    <h5>Basic Information</h5>

    <fieldset class="form-group">
      <!--<label for="fullName"> Full name</label>-->
      <div class="input-group">
        <span class="input-group-addon" title="Full name" id="basic-fullName"><i class="fa fa-user fa-1-5"></i></span>
        {{> afQuickField name="fullName" label=false }}
      </div>
    </fieldset>

    <fieldset class="form-group">
      <!--<label for="email"> Email</label>-->
      <div class="input-group">
        <span class="input-group-addon" title="Email" id="basic-email"><i class="fa fa-envelope fa-1-5"></i></span>
        {{> afQuickField name="email" label=false }}
      </div>
    </fieldset>

    <fieldset class="form-group">
      <!--<label for="password"> Password</label>-->
      <div class="input-group">
        <span class="input-group-addon" title="Password" id="basic-unlock-alt"><i class="fa fa-unlock-alt fa-1-5"></i></span>
        {{> afQuickField label=false name="password" type="password" }}
      </div>
    </fieldset>

    <fieldset class="form-group">
      <!--<label for="phone"> Phone</label>-->
      <div class="input-group">
        <span class="input-group-addon" title="Phone" id="basic-phone"><i class="fa fa-phone fa-1-5"></i></span>
        {{> afQuickField label=false name="phone" }}
      </div>
    </fieldset>

    <h5>Billing Information</h5>

    <fieldset class="form-group">
      <!--<label for="phone"> Country</label>-->
      <div class="input-group">
        <span class="input-group-addon" title="Country" id="basic-country"><i class="fa fa-globe fa-1-5"></i></span>
        {{> afQuickField name="country" type="select" label=false}}
      </div>
    </fieldset>

    <fieldset class="form-group">
      <!--<label for="phone"> Postal code</label>-->
      <div class="input-group">
        <span class="input-group-addon" title="Postal code" id="basic-postalCode"><i class="fa fa-map-signs fa-1-5"></i></span>
        {{> afQuickField name="postalCode" label=false }}
      </div>
    </fieldset>

    <fieldset class="form-group">
      <!--<label for="phone"> Province</label>-->
      <div class="input-group">
        <span class="input-group-addon" title="Province" id="basic-province"><i class="fa fa-map fa-1-5"></i></span>
        {{> afQuickField name="province" label=false }}
      </div>
    </fieldset>

    <fieldset class="form-group">
      <!--<label for="phone"> City</label>-->
      <div class="input-group">
        <span class="input-group-addon" title="City" id="basic-city"><i class="fa fa-map-o fa-1-5"></i></span>
        {{> afQuickField name="city" label=false }}
      </div>
    </fieldset>

    <fieldset class="form-group">
      <!--<label for="phone"> Address</label>-->
      <div class="input-group">
        <span class="input-group-addon" title="Address" id="basic-address"><i class="fa fa-street-view fa-1-5"></i></span>
        {{> afQuickField name="address" rows=3 label=false }}
      </div>
    </fieldset>

    <fieldset class="form-group">
      <!--<label for="phone"> Company</label>-->
      <div class="input-group">
        <span class="input-group-addon" title="Company name" id="basic-building"><i class="fa fa-building fa-1-5"></i></span>
        {{> afQuickField name="companyName" label=false }}
      </div>
    </fieldset>

    {{> afFieldInput label=false type="hidden" id="docid" name="_id"}}
    {{> afFieldInput label=false type="hidden" name="id_Client" value="1"}}
    <h5>Payment Information</h5>

    <fieldset class="form-group">
      <!--<label for="cardnumber"> Card #</label> -->
      <div class="input-group">
        <span class="input-group-addon" title="Card #" id="basic-cardnumber"><i class="fa fa-credit-card fa-1-5"></i></span>
        {{> afQuickField label=false name="cardnumber" }}
      </div>
    </fieldset>

    <fieldset class="form-group">
      <!--<label for="cvc"> CVC</label>-->
      <div class="input-group">
        <span class="input-group-addon" title="CVC" id="basic-cvc"><i class="fa fa-credit-card-alt fa-1-5"></i></span>
        {{> afQuickField label=false name="cvc" }}
      </div>
    </fieldset>

    <fieldset class="form-group">
      <!--<label for="expired"> Expired</label>-->
      <div class="input-group">
        <span class="input-group-addon" title="Expired" id="basic-expired"><i class="fa fa-calendar fa-1-5"></i></span>
        {{> afQuickField label=false name="expired" }}
      </div>
    </fieldset>

    <div class="container">
      <div class="col-sm-6">
        <button id="reset" type="button" class="btn btn-danger center-block">Cancel</button>
      </div>
      <div class="col-sm-6">
        <button id="submit" type="button" class="btn btn-success center-block">Save</button>
      </div>
    </div>
  {{/autoForm}}
  </div>
</template>
