<template name="web_ListMyInvoices">

      {{#each listmyinvoices}}

      <div class="card">
        <div class="card-block">
          <p class="card-text">
            <p class="color-gray">
              {{handymanName}} done your "{{serviceName}}" request on {{destinationAddress}}
            </p>
            <p class="color-gray">{{date}}</p>
            {{#if checkInvoice}}
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                  {{#if invoiceServiceCost}}
                  <tr>
                    <th scope="row">Service cost</th>
                    <td class="right">{{invoiceServiceCost}}</td>
                  </tr>
                  {{/if}}
                  {{#if invoiceTransportCost}}
                  <tr>
                    <th scope="row">Transport cost</th>
                    <td class="right">{{invoiceTransportCost}}</td>
                  </tr>
                  {{/if}}
                  {{#if invoiceExtrasCost}}
                  <tr>
                    <th scope="row">Extras cost</th>
                    <td class="right">{{invoiceExtrasCost}}</td>
                  </tr>
                  {{/if}}
                  {{#if invoiceTax}}
                  <tr>
                    <th scope="row">Tax</th>
                    <td class="right">{{invoiceTax}}</td>
                  </tr>
                  {{/if}}
                  {{#if invoiceTotal}}
                  <tr>
                    <th scope="row">Total</th>
                    <td class="right">{{invoiceTotal}}</td>
                  </tr>
                  {{/if}}
                  </tbody>
                </table>
              </div>
            {{/if}}
          </p>
          {{#if unpaid}}
            <button id="payInvoice" data-idinvoice="{{idInvoice}}" type="button" class="btn btn-success center-block">Pay now</button>
          {{/if}}
        </div>
      </div>
      {{/each}}
      {{#unless listmyinvoices}}
        You don't have unpaid invoices
      {{/unless}}
</template>
