<template name="web_RightMenu">
  <div class="col-xs-6 col-sm-3" id="rightSidebar">
    <div class="content-block-wrapper">
     <div class="{{#if toolbarMessage}} pull-to-refresh-content {{/if}}" data-ptr-distance="55">
       {{#if showTitle}}
       <div class="content-block-title center h2">{{Title}}</div>
         {{> yield}}
       {{else}}
         {{> yield}}
       {{/if}}
     </div>
     {{#if toolbarMessage}}
     <div class="toolbar messagebar">
       <div class="toolbar-inner">
         <div class="input-group">
            <textarea id="bodyMessage" placeholder="Message" class=""></textarea>
            <span class="input-group-addon">
              <a id="sendMessage" href="#" class="link"><i class="fa fa-2 fa-paper-plane"></i></a>
            </span>
         </div>
       </div>
     </div>
     {{/if}}
    </div>
  </div>
</template>
