<template name="web_ApplicationLayoutDynamic">
  <div class="main-body {{platformClasses}} {{curretnPath}}">

		<div class="statusbar-overlay"></div>

		<div class="panel-overlay"></div>

		{{#if showLeftMenu}}
		  {{> PDRender name='LeftMenu' data=.}}
	  {{/if}}

    {{#if showRightMenu}}
      {{> PDRender name='RightMenu' data=.}}
    {{/if}}

		<div class="views col-xs-12 col-sm-7 col-sm-offset-2 active">

		  <div class="view view-main" data-page="index">

				<div class="navbar">
				  <div class="navbar-inner">

				    <div class="left">
              {{#if historyBack}}
                <a href="#" id="historyBack" class="link icon-only"> <i class="fa fa-chevron-left"></i></a>
              {{/if}}
              <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
            </div>
					  <div class="center" >{{titleApp}}</div>
						<div class="right">
              {{#if showLeftMenuIcon}}
						    <a href="#" class="link icon-only open-panel"> <i class="fa fa-bars"></i></a>
              {{/if}}
						</div>
					</div>

					{{#if showSubNavBar}}
						<!-- Sub navbar -->
		        <div class="subnavbar">
		          <div class="buttons-row">
		            <div class="left">
		              <a id="getMyLocation" href="#" class="link icon-only"> <i class="fa fa-location-arrow"></i></a>
		            </div>
		            <input type="text" id="getAddressGeocoder" placeholder="Address" class="form-control" />
		            <div class="right">
		              <a id="setLocationMarker" href="#" class="link icon-only"> <i class="fa fa-map-marker"></i></a>
		            </div>
		          </div>
		        </div>
          {{/if}}
				</div>

			  <div class="pages navbar-through toolbar-through">
					<div data-page="index" class="page {{#if showSubNavBar}} with-subnavbar {{/if}}">
            <div class="page-content">
              {{> PDRender name='ClientMapBlock' data=.}}
            </div>
					</div>
				</div>

			  {{#if toolbarMap}}
				<div class="toolbar">
				  <div class="toolbar-inner">
              <div class="right">
                <input type="text" placeholder="Choose service" readonly id="picker-service">
              </div>
              <input type="text" placeholder="Choose date" readonly id="picker-date">
              <div class="right">
                <a id="createRequest" href="#" class="link icon-only"> <i class="fa fa-2 fa-bullhorn"></i></a>
              </div>
          </div>
				</div>
			  {{/if}}
			</div>
		</div>
    <div id="alert_placeholder"></div>
</div>
</template>
