<template name="web_Support">
  <div class="content-block">

  {{#autoForm schema=contactFormSchema id="supportForm" type="method" meteormethod="sendSupport"}}

  <fieldset class="form-group">
    <!--<label for="name">Your name</label>-->
    <div class="input-group">
      <span class="input-group-addon" id="basic-name"><i class="fa fa-user fa-1-5"></i></span>
      {{> afQuickField name="name" label=false placeholder="Andrés Garcia"}}
    </div>
  </fieldset>

  <fieldset class="form-group">
    <!--<label for="email">Email</label>-->
    <div class="input-group">
      <span class="input-group-addon" id="basic-email"><i class="fa fa-envelope fa-1-5"></i></span>
      {{> afQuickField name="email" label=false placeholder="email@gmail.com"}}
    </div>
  </fieldset>

  <fieldset class="form-group">
    <!--<label for="phone">Phone</label>-->
    <div class="input-group">
      <span class="input-group-addon" id="basic-phone"><i class="fa fa-phone fa-1-5"></i></span>
      {{> afQuickField label=false name="phone" placeholder="+34(999)777-77-77"}}
    </div>
  </fieldset>

  <fieldset class="form-group">
    <!--<label for="message">Message</label>-->
    <div class="input-group">
      <span class="input-group-addon" id="basic-message"><i class="fa fa-file-text fa-1-5"></i></span>
      {{> afQuickField name="message" rows=10 label=false placeholder="Type you request here"}}
    </div>
  </fieldset>

  <div class="container">
    <div class="col-sm-6">
      <button id="reset" type="button" class="btn btn-danger center-block">Reset</button>
    </div>
    <div class="col-sm-6">
      <button id="submit" type="button" class="btn btn-success center-block">Send</button>
    </div>
  </div>
  {{/autoForm}}
  </div>
</template>
