<template name="web_Chat">
  <div class="pull-refresh">
    <a href="#" class="" id="loadHistory"><i class="fa fa-refresh"></i> Load history</a>
  </div>
  <div class="messages">
    <ul class="chat">
    {{#each messages}}
      <li class="{{myMessage}} clearfix">
          <div class="chat-body clearfix">
              <div class="header">
                  <small class="text-muted">
                      {{puredate}} <span>{{puretime}}</span>
                  </small>
              </div>
              <strong class="primary-font">{{author}}</strong>
              <p>
                  {{message}}
              </p>
          </div>
      </li>
    {{/each}}
    </ul>
    <!-- id chat -->
    <input type="hidden" id="chat_id" value="{{chat_id._id}}"/>
    <input type="hidden" id="message_count" value="50"/>
  </div>
</template>
