<template name="web_LeftMenu">
  <div class="col-xs-4 col-sm-2 sidebar-offcanvas row-offcanvas" id="leftSidebar">
    <div class="logo"><img src="/img/logo-placeholder.png"></div>
    <div class="content-block-wrapper">
      <ul class="list-group">
        <li class="list-group-item {{active 'ClientProfileForm'}}"><i class="fa fa-user fa-1-5"></i> <a href="{{pathFor route='ClientProfileForm'}}">Profile</a></li>
        <li class="list-group-item {{active 'ListMyChats'}}"><i class="fa fa-comment fa-1-5"></i> <a href="{{pathFor route='ListMyChats'}}">Chats</a></li>
        <li class="list-group-item {{active 'ListMyRequests'}}"> <i class="fa fa-ticket fa-1-5"></i><a href="{{pathFor route='ListMyRequests'}}">Requests</a></li>
        <li class="list-group-item {{active 'ListMyInvoices'}}"><i class="fa fa-money fa-1-5"></i><a href="{{pathFor route='ListMyInvoices'}}">Invoices</a></li>
        <li class="list-group-item {{active 'Support'}}"><i class="fa fa-support fa-1-5"></i><a href="{{pathFor route='Support'}}">Support</a></li>
        <li class="list-group-item {{active 'About'}}"><i class="fa fa-info fa-1-5"></i><a href="{{pathFor route='About'}}">About</a></li>
        <li class="list-group-item"><i class="fa fa-sign-out fa-1-5"></i>{{> atNavButton}}</li>
      </ul>
    </div>
  </div>
  <script>
  $(document).ready(function () {
    $('[data-toggle="offcanvas"]').click(function () {
      $('.views').toggleClass('active col-sm-9 col-sm-7 col-sm-offset-2');
      $('.sidebar-offcanvas').toggleClass('col-sm-0');
    });
  });
  </script>
</template>
