<template name="About">
  <!-- Inset content block -->
  <div class="content-block inset">
    <div class="content-block-inner">
      <p>{{about.body}}</p>
    </div>
  </div>

  <div class="content-block-title">FAQ</div>
  <!-- Inset content block -->
  {{#each faqlist}}
    <div class="content-block">
      <div class="content-block-inner">
        <p>{{title}}</p>
        <p>{{body}}</p>
      </div>
    </div>
  {{/each}}
</template>
