<template name="AccountsLayout">
  {{#if isIOS}}
    <!-- Framework7 iOS theme styles -->
    <link rel="stylesheet" href="/packages/nobutakaoshiro_framework7-ios-material/framework7/dist/css/framework7.ios.min.css">
    <link rel="stylesheet" href="/packages/nobutakaoshiro_framework7-ios-material/framework7/dist/css/framework7.ios.colors.min.css">
  {{/if}}

  {{#if isAndroid}}
    <!-- Material(Android) theme styles -->
    <link rel="stylesheet" href="/packages/nobutakaoshiro_framework7-ios-material/framework7/dist/css/framework7.material.min.css">
    <link rel="stylesheet" href="/packages/nobutakaoshiro_framework7-ios-material/framework7/dist/css/framework7.material.colors.min.css">
  {{/if}}

  {{#if isWeb}}
    <!-- Bootstrap theme styles -->
    <link rel="stylesheet" href="/packages/logvik_bootstrap4-precompiled/bootstrap4/css/bootstrap.min.css">
  {{/if}}

  <div class="main-body {{platformClasses}} {{curretnPath}}">
		<div class="views">
		  <div class="view view-main">
				<div class="navbar">
				  <div class="navbar-inner">
            <div class="left"></div>
            <div class="center sliding">{{titleApp}}</div>
            <div class="right"></div>
					</div>
				</div>
			  <div class="pages navbar-through toolbar-through">
					<div class="page">
						<div class="page-content">
							<div class="content-block">
								{{> yield}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
</template>
