<template name="ApplicationLayout">
  {{#if isIOS}}
    <!-- Framework7 iOS theme styles -->
    <link rel="stylesheet" href="/packages/nobutakaoshiro_framework7-ios-material/framework7/dist/css/framework7.ios.min.css">
    <link rel="stylesheet" href="/packages/nobutakaoshiro_framework7-ios-material/framework7/dist/css/framework7.ios.colors.min.css">
  {{/if}}

  {{#if isAndroid}}
    <!-- Material(Android) theme styles -->
    <link rel="stylesheet" href="/packages/nobutakaoshiro_framework7-ios-material/framework7/dist/css/framework7.material.min.css">
    <link rel="stylesheet" href="/packages/nobutakaoshiro_framework7-ios-material/framework7/dist/css/framework7.material.colors.min.css">
  {{/if}}

  {{#if isWeb}}
    <!-- Bootstrap theme styles -->
    <link rel="stylesheet" href="/packages/logvik_bootstrap4-precompiled/bootstrap4/css/bootstrap.min.css">
  {{/if}}
  {{> PDRender name='ApplicationLayoutDynamic' data=.}}
</template>
