<template name="Chat">
  <div class="messages">
    <div class="pull-to-refresh-layer">
        <div class="preloader"></div>
        <div class="pull-to-refresh-arrow"></div>
    </div>
    {{#each messages}}
        <div class="messages-date">{{puredate}} <span>{{puretime}}</span></div>
        <div class="message message-{{myMessage}} message-with-tail">
          <div class="message-name">{{author}}</div>
          <div class="message-text">{{message}}</div>
        </div>
    {{/each}}

    <!-- id chat -->
    <input type="hidden" id="chat_id" value="{{chat_id._id}}"/>
    <input type="hidden" id="message_count" value="50"/>
  </div>
</template>
