<template name="ClientMapBlock">
  {{#if Template.subscriptionsReady}}
    {{> ClientMapBlockBody}}
  {{else}}
    Loading...
  {{/if}}
</template>

<template name="ClientMapBlockBody">
  <div id="map"></div>
</template>
