<template name="ClientProfileForm">
  <div class="content-block">
    <div class="content-block-inner">
  {{#autoForm schema=ClientProfileFormSchema id="ClientProfileForm" type=formTypeMethod doc=this meteormethod="sendClientProfile" validation="keyup"}}
    <div class="content-block-title">Basic Information</div>
    <div class="list-block inset">
		  <ul>
		    <li>
		      <div class="item-content">
            <div class="item-media"><i class="fa fa-user fa-2"></i></div>
            <div class="item-inner">
              <div class="item-title label">Full name</div>
              <div class="item-input">
                {{> afQuickField name="fullName" label=false}}
              </div>
            </div>
          </div>
		    </li>
		    <li>
          <div class="item-content">
            <div class="item-media"><i class="fa fa-envelope fa-2"></i></div>
            <div class="item-inner">
              <div class="item-title label">Email</div>
              <div class="item-input">
                {{> afQuickField name="email" label=false}}
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="fa fa-unlock-alt fa-2"></i></div>
            <div class="item-inner">
              <div class="item-title label">Password</div>
              <div class="item-input">
                {{> afQuickField label=false name="password" type="password"}}
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="fa fa-phone fa-2"></i></div>
            <div class="item-inner">
              <div class="item-title label">Phone</div>
              <div class="item-input">
                {{> afQuickField label=false name="phone"}}
              </div>
            </div>
          </div>
        </li>
	    </ul>
    </div>
    <div class="content-block-title">Billing Information</div>
    <div class="list-block inset">
      <ul>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="fa fa-globe fa-2"></i></div>
            <div class="item-inner">
              <div class="item-title label">Country</div>
              <div class="item-input">

                <a href="#" class="item-link item-link-countries smart-select" data-virtual-list="true" data-searchbar="true" data-back-on-select="true" data-searchbar-placeholder="Search country">
                  <!-- select -->
                  {{> afQuickField name="country" type="select" label=false}}

                  <div class="item-inner">
                    <!-- Selected value, not required -->
                    <div idRequest={{_id}} class="item-after">(Select One)</div>
                  </div>
                </a>

              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="fa fa-map-signs fa-2"></i></div>
            <div class="item-inner">
              <div class="item-title label">Postal code</div>
              <div class="item-input">
                {{> afQuickField name="postalCode" label=false}}
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="fa fa-map fa-2"></i></div>
            <div class="item-inner">
              <div class="item-title label">Province</div>
              <div class="item-input">
                {{> afQuickField name="province" label=false}}
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="fa fa-map-o fa-2"></i></div>
            <div class="item-inner">
              <div class="item-title label">City</div>
              <div class="item-input">
                {{> afQuickField name="city" label=false }}
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="fa fa-street-view fa-2"></i></div>
            <div class="item-inner">
              <div class="item-title label">Address</div>
              <div class="item-input">
                {{> afQuickField name="address" rows=3 label=false }}
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="fa fa-building fa-2"></i></div>
            <div class="item-inner">
              <div class="item-title label">Company</div>
              <div class="item-input">
                {{> afQuickField name="companyName" label=false }}
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    {{> afFieldInput label=false type="hidden" id="docid" name="_id"}}
    {{> afFieldInput label=false type="hidden" name="id_Client" value="1"}}
    <div class="content-block-title">Payment Information</div>
    <div class="list-block inset">
      <ul>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="fa fa-credit-card fa-2"></i></div>
            <div class="item-inner">
              <div class="item-title label">Card #</div>
              <div class="item-input">
                {{> afQuickField label=false name="cardnumber" }}
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="fa fa-credit-card-alt fa-2"></i></div>
            <div class="item-inner">
              <div class="item-title label">CVC</div>
              <div class="item-input">
                {{> afQuickField label=false name="cvc" }}
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="fa fa-calendar fa-2"></i></div>
            <div class="item-inner">
              <div class="item-title label">Expired</div>
              <div class="item-input">
                {{> afQuickField label=false name="expired" }}
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-50">
        <a id="reset" class="button button-big button-fill button-raised color-red">Cancel</a>
      </div>
      <div class="col-50">
        <a id="submit" class="button button-big button-fill button-raised color-green">Save</a>
      </div>
    </div>
  {{/autoForm}}
  </div>
  </div>
</template>
