<template name="LeftMenu">
  <div class="panel panel-left panel-reveal">
    <div class="content-block">

     <div class="list-block">
        <ul>
          <li>
            <span class="item-link">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title"><i class="fa fa-map fa-1-5"></i><a href="{{pathFor route='ClientMap'}}">Map</a></div>
                </div>
              </div>
            </span>
          </li>
          <li>
            <span class="item-link">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title"><i class="fa fa-user fa-1-5"></i><a href="{{pathFor route='ClientProfileForm'}}">Profile</a></div>
                </div>
              </div>
            </span>
          </li>
          <li>
            <span class="item-link">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title"><i class="fa fa-comment fa-1-5"></i><a href="{{pathFor route='ListMyChats'}}">Chats</a></div>
                </div>
              </div>
            </span>
          </li>
          <li>
            <span class="item-link">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title"><i class="fa fa-ticket fa-1-5"></i><a href="{{pathFor route='ListMyRequests'}}">Requests</a></div>
                </div>
              </div>
            </span>
          </li>
          <li>
            <span class="item-link">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title"><i class="fa fa-money fa-1-5"></i><a href="{{pathFor route='ListMyInvoices'}}">Invoices</a></div>
                </div>
              </div>
            </span>
          </li>
          <li>
            <span class="item-link">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title"><i class="fa fa-support fa-1-5"></i><a href="{{pathFor route='Support'}}">Support</a></div>
                </div>
              </div>
            </span>
          </li>
          <li>
            <span class="item-link">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title"><i class="fa fa-info fa-1-5"></i><a href="{{pathFor route='About'}}">About</a></div>
                </div>
              </div>
            </span>
          </li>
          <li>
          <span class="item-link">
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title"><i class="fa fa-sign-out fa-1-5"></i>{{> atNavButton}}</div>
              </div>
            </div>
          </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
