<template name="ListMyInvoices">
  <div class="list-block cards-list">
    <ul>
      {{#each listmyinvoices}}
        <li class="card">
          <div class="card-header">
            {{handymanName}} done your "{{serviceName}}" request on {{destinationAddress}}
          </div>
          <div class="card-content">
            <div class="card-content-inner">
              <div class="card-content-inner">
                <p class="color-gray">{{date}}</p>
                {{#if checkInvoice}}
                  {{#if invoiceServiceCost}}
                  <div class="row">
                      <!-- Each "cell" has col-[widht in percents] class -->
                      <div class="col-50">Service cost</div>
                      <div class="col-50 right">{{invoiceServiceCost}}</div>
                  </div>
                  {{/if}}
                  {{#if invoiceTransportCost}}
                  <div class="row">
                      <!-- Each "cell" has col-[widht in percents] class -->
                      <div class="col-50">Transport cost</div>
                      <div class="col-50 right">{{invoiceTransportCost}}</div>
                  </div>
                  {{/if}}
                  {{#if invoiceExtrasCost}}
                  <div class="row">
                      <!-- Each "cell" has col-[widht in percents] class -->
                      <div class="col-50">Extras cost</div>
                      <div class="col-50 right">{{invoiceExtrasCost}}</div>
                  </div>
                  {{/if}}
                  {{#if invoiceTax}}
                  <div class="row">
                      <!-- Each "cell" has col-[widht in percents] class -->
                      <div class="col-50">Tax</div>
                      <div class="col-50 right">{{invoiceTax}}</div>
                  </div>
                  {{/if}}
                  {{#if invoiceTotal}}
                  <div class="row">
                      <!-- Each "cell" has col-[widht in percents] class -->
                      <div class="col-50">Total</div>
                      <div class="col-50 right">{{invoiceTotal}}</div>
                  </div>
                  {{/if}}
                {{/if}}
              </div>
            </div>
          </div>
          <div class="card-footer">
            {{#if unpaid}}
              <a id="payInvoice" data-idinvoice="{{idInvoice}}" class="button button-big button-fill button-raised color-blue">Pay now</a>
            {{/if}}
          </div>
        </li>
      {{/each}}
    </ul>
    {{#unless listmyinvoices}}
      You don't have unpaid invoices
    {{/unless}}
  </div>
</template>
