<template name="Support">
  <div class="content-block">
    <div class="content-block-inner">
  {{#autoForm schema=contactFormSchema id="supportForm" type="method" meteormethod="sendSupport"}}

  <div class="list-block">
    <ul>
      <li>
        <div class="item-content">
          <div class="item-media"><i class="fa fa-user fa-2"></i></div>
          <div class="item-inner">
            <div class="item-title label">Your name</div>
            <div class="item-input">
              {{> afQuickField name="name" label=false placeholder="Andrés Garcia"}}
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item-content">
          <div class="item-media"><i class="fa fa-envelope fa-2"></i></div>
          <div class="item-inner">
            <div class="item-title label">Email</div>
            <div class="item-input">
              {{> afQuickField name="email" label=false placeholder="email@gmail.com"}}
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item-content">
          <div class="item-media"><i class="fa fa-phone fa-2"></i></div>
          <div class="item-inner">
            <div class="item-title label">Phone</div>
            <div class="item-input">
              {{> afQuickField label=false name="phone" placeholder="+34(999)777-77-77"}}
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item-content">
          <div class="item-media"><i class="fa fa-file-text fa-2"></i></div>
          <div class="item-inner">
            <div class="item-title label">Message</div>
            <div class="item-input">
              {{> afQuickField name="message" rows=10 label=false placeholder="Type you request here"}}
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

    <div class="row">
      <div class="col-50">
        <a id="reset" class="button button-big button-fill button-raised color-red">Reset</a>
      </div>
      <div class="col-50">
        <a id="submit" class="button button-big button-fill button-raised color-green">Send</a>
      </div>
    </div>
  {{/autoForm}}
  </div>
  </div>
</template>
