<template name="Terms">
  <div class="terms">
    <div class="at-form">
      <div class="at-title">
        <h3>Terms</h3>
      </div>
      {{#markdown}}
        {{body}}
      {{/markdown}}
      <div class="at-signup-link">
        <p class="">
          <a href="{{pathFor 'SignUp'}}" id="at-signUp" class="at-btn submit">Register</a>
        </p>
      </div>
    </div>
  </div>
</template>
