<template name="termsCheckbox">
  <div class="at-input inline field">
    <input type="{{type}}" id="at-field-{{_id}}" checked name="at-field-{{_id}}" {{disabled}}>
    <label for="at-field-{{_id}}">
      I have read and agree to the terms presented in the <br/><a class="terms-link" href='/terms'>Terms and Conditions agreement</a>
    </label>
  </div>
</template>
