<template name="updatesCheckbox">
  <div class="at-input inline field">
    <input type="{{type}}" id="at-field-{{_id}}" checked name="at-field-{{_id}}" {{disabled}}>
    <label for="at-field-{{_id}}">
      {{displayName}}
    </label>
  </div>
</template>
