/* SCSS declarations go here */
.picker-modal {
	.toolbar {
    background: #e8e8e8;
		a.link {
			color: #505050;
		}
	}
}

.platform-android {

	/**
	* FIX material design F7 bug
	*/
	.navbar-fixed .page-content,
	.navbar-through .page-content {
	  padding-top: 44px;
	}

	.navbar, .subnavbar, .toolbar {
    background: #e8e8e8;
		a.link {
			color: #505050;
		}
	}

  .searchbar {
		background-color: #848385;
	}

	.panel {
		background: #1f1f1f;
		a {
			color: #fff;
			&:hover,
			&:focus {
				color: #fff;
			}
		}
	}

	.navbar-inner {
		.center {
			color: #505050;
	    text-transform: capitalize;
	    letter-spacing: 12px;
		}
	}

	.tabbar-fixed .page-content,
	.tabbar-through .page-content,
	.toolbar-fixed .page-content,
	.toolbar-through .page-content {
    padding-bottom: 44px;
  }

  .navbar-fixed .with-subnavbar .page-content,
  .navbar-through .with-subnavbar .page-content {
    padding-top: 104px;
  }

	.subnavbar {
		overflow: auto;
	}

  .at-social-btn,
  .at-btn {
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: 2px;
    line-height: 36px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: #7580ac;
    padding: 0 10px;
    margin: 0;
    height: 36px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    text-transform: uppercase;
    font-family: inherit;
    cursor: pointer;
    min-width: 64px;
    padding: 0 8px;
    position: relative;
    overflow: hidden;
    outline: 0;
    border: none;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  }
  .at-social-btn {
    &#at-facebook {
	    background: #2196f3;
	    border-color: #2196f3;
	  }
    &#at-twitter {
	    background: #4caf50;
	    border-color: #4caf50;
	  }
    &#at-google {
	    background: #ff9800;
	    border-color: #ff9800;
	  }
    &#at-google.active-state {
      background:#F57C00!important;
    }
    &#at-twitter.active-state {
      background:#388E3C!important;
    }
	  &#at-facebook.active-state {
	    background:#1976D2!important;
	  }
  }

  .at-btn {
    &#at-btn {
      background: #9c27b0;
      border-color: #9c27b0;
      color: #fff;
    }
    &.active-state {
      box-shadow:0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
    }
    &#at-btn.active-state {
      background:#7B1FA2!important
    }
  }

  .list-block input[type=time],
  .list-block input[type=number],
  .list-block input[type=search],
  .list-block input[type=text],
  .list-block input[type=password],
  .list-block input[type=email],
  .list-block input[type=tel],
  .list-block input[type=url],
  .list-block input[type=date],
  .list-block input[type=datetime-local],
  .list-block select,
  .list-block textarea,
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="search"] {
     -webkit-appearance:none;
     -moz-appearance:none;
     -ms-appearance:none;
     appearance:none;
     box-sizing:border-box;
     border:none;
     background:0 0;
     border-radius:0;
     box-shadow:none;
     display:block;
     padding:0;
     margin:0;
     width:100%;
     color:#212121;
     font-size:16px;
     font-family:inherit;
     border-bottom: 1px solid rgba(0,0,0,.26);
     background-color: transparent;
     outline: 0;
     background-image: none;
     min-height: 32px;
  }

  .list-block input[type=time]:focus,
  .list-block input[type=number]:focus,
  .list-block input[type=search]:focus,
  .list-block input[type=text]:focus,
  .list-block input[type=password]:focus,
  .list-block input[type=email]:focus,
  .list-block input[type=tel]:focus,
  .list-block input[type=url]:focus,
  .list-block input[type=date]:focus,
  .list-block input[type=datetime-local]:focus,
  .list-block select:focus,
  .list-block textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="search"]:focus {
     min-height: 33px;
     margin-bottom: -1px;
     border-color: #2196F3;
     border-width: 2px;
  }

  .list-block input[type=time]::-webkit-input-placeholder,
  .list-block input[type=number]::-webkit-input-placeholder,
  .list-block input[type=search]::-webkit-input-placeholder,
  .list-block input[type=text]::-webkit-input-placeholder,
  .list-block input[type=password]::-webkit-input-placeholder,
  .list-block input[type=email]::-webkit-input-placeholder,
  .list-block input[type=tel]::-webkit-input-placeholder,
  .list-block input[type=url]::-webkit-input-placeholder,
  .list-block input[type=date]::-webkit-input-placeholder,
  .list-block input[type=datetime-local]::-webkit-input-placeholder,
  .list-block select::-webkit-input-placeholder,
  .list-block textarea::-webkit-input-placeholder,
  input[type="text"]::-webkit-input-placeholder,
  input[type="password"]::-webkit-input-placeholder,
  input[type="search"]::-webkit-input-placeholder,
  input[type="email"]::-webkit-input-placeholder,
  input[type="tel"]::-webkit-input-placeholder,
  input[type="url"]::-webkit-input-placeholder,
  input[type="date"]::-webkit-input-placeholder,
  input[type="datetime-local"]::-webkit-input-placeholder,
  input[type="time"]::-webkit-input-placeholder,
  input[type="number"]::-webkit-input-placeholder,
  select::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.35);
  }

  .has-error {
    input[type=time],
	  input[type=number],
	  input[type=search],
	  input[type=text],
	  input[type=password],
	  input[type=email],
	  input[type=tel],
	  input[type=url],
	  input[type=date],
	  input[type=datetime-local],
	  select,
	  textarea,
	  input[type=time]:focus,
    input[type=number]:focus,
    input[type=search]:focus,
    input[type=text]:focus,
    input[type=password]:focus,
    input[type=email]:focus,
    input[type=tel]:focus,
    input[type=url]:focus,
    input[type=date]:focus,
    input[type=datetime-local]:focus,
    select:focus,
    textarea:focus {
	    min-height: 33px;
      margin-bottom: -1px;
      border-color: #f44336;
      border-width: 2px;
	  }
  }
	.smart-select {
		select {
			display: none;
		}
	}
	.card-header {
		.item-title {
			i.fa {
				display: inline-block;
				position: relative;
				padding: 1em;
				vertical-align: top;
			}
		}
	}
	.toolbar-map {
		.left {
			padding-left: 0.5em;
		}
		.center {
			padding-left: 0.5em;
		}
		.right {
			padding-right: 1em;
		}
	}

	#ClientProfileForm {
		.content-block-title {
			margin: 0px;
		}
		.list-block.inset {
			margin: 32px 0;
			margin-top: 0px;
		}
		.list-block .item-inner:after {
			background-color: none;
		}
		.list-block .item-content {
			padding-left: 5px;
		}
		.list-block .item-media+.item-inner {
    	margin-left: 5px;
		}
		.list-block .autocomplete-opener .item-after,
		.list-block .smart-select .item-after {
		  max-width: 100%;
		}
	}
	#payInvoice {
		width: 100%;
	}
}
