$white: #fff;
$navbar-color: #f7f7f8;
$pre-dark: #444;
$pre-grey: #f9fafc;
$grey: #f4f4f5;
$facebook: #007aff;
$twitter: #4cd964;
$google: #ff9500;
$at-btn: #ff3b30;
$dark: #000;
$views-border-left: #d2d6de;
$navbar-after: #c4c4c4;
$page-color: #efeff4;
$chat-li-border: #B3A9A9;
$chat-body: #777777;
$scrollbar: #F5F5F5;
$scrollbar-thumb: #555;
$modal-inner: rgba(255,255,255,.95);
$modal-inner-after: rgba(0,0,0,.2);
$modal-button-color: #007aff;
$modal-button-background: rgba(255,255,255,.95);
$picker-modal: #cfd5da;
$picker-modal-popover: #929499;
$picker-center-highlight: #a8abb0;
$picker-item: #707274;
