/* SCSS declarations go here */
.platform-ios {
  .at-social-btn {
    margin-top: 10px;
    &.active-state {
      opacity: .8;
    }
    &#at-facebook {
	    background: #007aff;
	  }
    &#at-twitter {
	    background: #4cd964;
	  }
    &#at-google {
	    background: #ff9500;
	  }
	  &#at-btn {
      background: #ff3b30;
    }
  }

  @mixin input-style {
    input[type="text"],
    input[type="password"],
    input[type="email"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      box-sizing: border-box;
      border: none;
      background: 0 0;
      border-radius: 0;
      box-shadow: none;
      display: block;
      padding: 0;
      margin: 0;
      width: 100%;
      height: 43px;
      color: #000;
      font-size: 17px;
      font-family: inherit;
    }
  }

  .subnavbar,
  .toolbar-inner
   {
    @include input-style;
  }

  .toolbar-inner {
    input[type="text"],
    input[type="password"],
    input[type="email"] {
      text-align: center;
    }
  }

  .at-form {
    .at-input {
      @include input-style;
    }
  }

  .panel {
    background-color: #fff;
  }
}
